<div class="container">

<div class="logo">


</div>

<h1>Ketosabi</h1>
<h2>Ketosabi guides you down the path of keto enlightment</h2>
<h3>With Ketosabi, you can commit to a healthy ketogenic diet, find inspiration and motivation, connect with other Ketosabi-ers, and practice a keto way of life</h3>

<%= link_to 'Create Account', controller: 'articles' %><br>

<%= link_to 'Sign In', controller: 'articles' %><br>

<%= link_to 'My Blog', controller: 'articles' %>


</div>